.container{
    display:flex;
    text-align: center;
    box-sizing: border-box;
    height: calc(100% - 150px);
    flex-flow: row wrap;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
}

.img{
    height: 80%;
    object-fit: cover;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .img {
        height: 70%;
    }
  }

.card{
    border: solid 1px #fff;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    width: 25vw;
    height: 32vh;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

@media screen and (max-width: 600px) {
    .card {
        width: 40vw;
        height: 30vw;
    }
  }

.card a,.card a:visited{
    height: 20%;
    text-align: center;
    color: #e0e0e0;
    background-color: #19302a;
    display: grid;
    place-items: center center;
    border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 600px) {
    .card a,.card a:visited {
        height: 30%;
        font-size: 10px;
    }
  }

.card a:hover{
    background-color: #e0e0e0;
}

